<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://openbox.org/
                file:///usr/share/openbox/menu.xsd">

	<menu id="root-menu" label="Openbox 3">
		<menu id="tdate" label="Current Time" execute="sh /usr/local/bin/tdate" />

		<!-- Main menu items -->
		<separator />
		<item label="Terminal">
			<action name="Execute"><execute>uxterm -fa default -fs 12</execute></action>
		</item>
		<item label="Browser">
			<action name="Execute"><execute>x-www-browser</execute></action>
		</item>
		<item label="File Manager">
			<action name="Execute"><execute>pcmanfm</execute></action>
		</item>
		<item label="Processes">
			<action name="Execute"><execute>uxterm -fa default -fs 12 -e htop</execute></action>
		</item>
		<item label="Text editor">
			<action name="Execute"><execute>geany</execute></action>
		</item>
		<item label="Steam">
			<action name="Execute"><execute>steam</execute></action>
		</item>
		<item label="Lutris-f">
			<action name="Execute"><execute>flatpak run net.lutris.Lutris</execute></action>
		</item>
		<item label="Rss Reader">
			<action name="Execute"><execute>rssnews</execute></action>
		</item>
		<item label="Volume">
			<action name="Execute"><execute>pavucontrol</execute></action>
		</item>


		<separator />
		<!-- Major applications menu -->
		<menu id="Apps" label="Apps" >
			<item label="Writer">
				<action name="Execute"><execute>libreoffice --writer</execute></action>
			</item>
			<item label="Calc">
				<action name="Execute"><execute>libreoffice --calc</execute></action>
			</item>
			<item label="Impress">
				<action name="Execute"><execute>libreoffice --impress</execute></action>
			</item>
			<item label="Rstudio">
				<action name="Execute"><execute>rstudio</execute></action>
			</item>
			<item label="Scribus">
				<action name="Execute"><execute>scribus</execute></action>
			</item>
			<item label="Math">
				<action name="Execute"><execute>libreoffice --math</execute></action>
			</item>
			<item label="Base">
				<action name="Execute"><execute>libreoffice --base</execute></action>
			</item>

			<separator />
			<item label="Feh">
				<action name="Execute"><execute>feh -t --thumb-height 150 --thumb-width 200 ~/files/</execute></action>
			</item>
			<item label="Mirage">
				<action name="Execute"><execute>mirage</execute></action>
			</item>
			<item label="Gimp">
				<action name="Execute"><execute>gimp</execute></action>
			</item>
			<item label="Krita">
				<action name="Execute"><execute>krita</execute></action>
			</item>
			<item label="Darktable">
				<action name="Execute"><execute>darktable</execute></action>
			</item>
			<item label="Inkscape">
				<action name="Execute"><execute>inkscape</execute></action>
			</item>
			<item label="Draw">
				<action name="Execute"><execute>libreoffice --draw</execute></action>
			</item>

			<separator />
			<item label="Moc">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -e mocp</execute></action>
			</item>
			<item label="Deadbeef">
				<action name="Execute"><execute>deadbeef</execute></action>
			</item>
			<item label="Audacity">
				<action name="Execute"><execute>audacity</execute></action>
			</item>

			<separator />
			<item label="Vlc">
				<action name="Execute"><execute>vlc</execute></action>
			</item>
			<item label="Mpv">
				<action name="Execute"><execute>mpv</execute></action>
			</item>
			<item label="Shotcut">
				<action name="Execute"><execute>shotcut</execute></action>
			</item>
			<item label="Handbrake">
				<action name="Execute"><execute>handbrake</execute></action>
			</item>

			<separator />
			<item label="Blender">
				<action name="Execute"><execute>blender</execute></action>
			</item>
			<item label="Calibre">
				<action name="Execute"><execute>calibre</execute></action>
			</item>
			<item label="Virtualbox">
				<action name="Execute"><execute>virtualbox</execute></action>
			</item>
			<item label="Surf">
				<action name="Execute"><execute>surf</execute></action>
			</item>
		 </menu>


		<!-- SaaS Apps -->
		<menu id="saas" label="SaaS" >
			<item label="Google Apps">
				<action name="Execute"><execute>x-www-browser https://drive.google.com/</execute></action>
			</item>
			<item label="Office 365">
				<action name="Execute"><execute>x-www-browser https://www.office.com/</execute></action>
			</item>
			<item label="Github">
				<action name="Execute"><execute>x-www-browser https://github.com/</execute></action>
			</item>
			<item label="Maps (google)">
				<action name="Execute"><execute>x-www-browser https://www.google.com/maps</execute></action>
			</item>
			<item label="Photo editor (photopea)">
				<action name="Execute"><execute>x-www-browser https://www.photopea.com/</execute></action>
			</item>
			<item label="Slides (slides.com)">
				<action name="Execute"><execute>x-www-browser https://slides.com/#features</execute></action>
			</item>
			<item label="Diagrams (diagrams.net)">
				<action name="Execute"><execute>x-www-browser https://app.diagrams.net/</execute></action>
			</item>
			<item label="Infographics (piktochart)">
				<action name="Execute"><execute>x-www-browser https://piktochart.com/formats/infographics/</execute></action>
			</item>
			<item label="Disposable email (10minutemail.com)">
				<action name="Execute"><execute>x-www-browser https://10minutemail.com/</execute></action>
			</item>
			<item label="Latex editor (overleaf.com)">
				<action name="Execute"><execute>x-www-browser https://www.overleaf.com/register</execute></action>
			</item>
			<item label="Tasks (Trello)">
				<action name="Execute"><execute>x-www-browser https://trello.com/</execute></action>
			</item>
			<item label="IP Tools (whatsmyip.org)">
				<action name="Execute"><execute>x-www-browser https://www.whatsmyip.org/</execute></action>
			</item>
			<item label="Translate (google)">
				<action name="Execute"><execute>x-www-browser https://translate.google.com/</execute></action>
			</item>
			<item label="Whatsapp web">
				<action name="Execute"><execute>x-www-browser https://web.whatsapp.com</execute></action>
			</item>
			<item label="Script poster (pastebin)">
				<action name="Execute"><execute>x-www-browser https://pastebin.com/</execute></action>
			</item>
			<item label="Draw kanji (qhanzi.com)">
				<action name="Execute"><execute>x-www-browser https://www.qhanzi.com/</execute></action>
			</item>
			<item label="Math solver (mathsolver)">
				<action name="Execute"><execute>x-www-browser https://mathsolver.microsoft.com/en</execute></action>
			</item>

			<separator />
			<item label="Vm desktop online (bellard.org)">
				<action name="Execute"><execute>x-www-browser https://bellard.org/jslinux/</execute></action>
			</item>
			<item label="Vm terminal online (cocalc.com)">
				<action name="Execute"><execute>x-www-browser https://cocalc.com/features/terminal</execute></action>
			</item>
		</menu>


		<!-- Useful websites -->
		<menu id="websites" label="Useful sites" >
			<item label="Web search (duckduckgo.com)">
				<action name="Execute"><execute>x-www-browser https://lite.duckduckgo.com/lite</execute></action>
			</item>
			<item label="Wikipedia (wikipedia.org)">
				<action name="Execute"><execute>x-www-browser https://en.m.wikipedia.org/wiki/Main_Page</execute></action>
			</item>
			<item label="Dictionary (wiktionary.org)">
				<action name="Execute"><execute>x-www-browser https://en.m.wiktionary.org/wiki/Special:Search</execute></action>
			</item>
			<item label="Youtube player (Invidious)">
				<action name="Execute"><execute>x-www-browser https://invidio.xamh.de/feed/popular</execute></action>
			</item>
			<item label="Network speed (fast.com)">
				<action name="Execute"><execute>x-www-browser https://fast.com/en/gb/#</execute></action>
			</item>
			<item label="Alternative to">
				<action name="Execute"><execute>x-www-browser https://alternativeto.net/</execute></action>
			</item>
			<item label="Just watch">
				<action name="Execute"><execute>x-www-browser https://www.justwatch.com/uk</execute></action>
			</item>
			<item label="Urban dictionary (urbandictionary.com)">
				<action name="Execute"><execute>x-www-browser https://www.urbandictionary.com/</execute></action>
			</item>

			<separator />
			<item label="Manuals (manualslib.com)">
				<action name="Execute"><execute>x-www-browser https://www.manualslib.com/</execute></action>
			</item>
			<item label="Cheat sheets (cheatography.com)">
				<action name="Execute"><execute>x-www-browser https://cheatography.com/</execute></action>
			</item>
			<item label="Dietry advice (eatthismuch.com)">
				<action name="Execute"><execute>x-www-browser https://www.eatthismuch.com/</execute></action>
			</item>
			<item label="Corporate tel numbers (gethuman.com)">
				<action name="Execute"><execute>x-www-browser https://gethuman.com/</execute></action>
			</item>
			<item label="Foreign travel advice (gov.uk)">
				<action name="Execute"><execute>x-www-browser https://www.gov.uk/foreign-travel-advice</execute></action>
			</item>
			<item label="Google public data (google)">
				<action name="Execute"><execute>x-www-browser https://www.google.com/publicdata/directory</execute></action>
			</item>
			<item label="Ftse 100 tracker (londonstockexchange.com)">
				<action name="Execute"><execute>x-www-browser https://www.londonstockexchange.com/indices/ftse-100/constituents/table</execute></action>
			</item>
			<item label="Uk crime tracker (police.uk)">
				<action name="Execute"><execute>x-www-browser https://www.police.uk/pu/your-area/</execute></action>
			</item>
			<item label="Food hygine ratings (food.gov.uk)">
				<action name="Execute"><execute>x-www-browser https://ratings.food.gov.uk/default/en-GB</execute></action>
			</item>
			<item label="Exchenge rate £ vs $ (xe.com)">
				<action name="Execute"><execute>x-www-browser https://www.xe.com/currencycharts/?from=GBP&to=USD</execute></action>
			</item>
			<item label="Uk fuel prices (rac.co.uk)">
				<action name="Execute"><execute>x-www-browser https://www.rac.co.uk/drive/advice/fuel-watch/</execute></action>
			</item>
			<item label="Covid tracker (gov.uk)">
				<action name="Execute"><execute>x-www-browser https://coronavirus.data.gov.uk/</execute></action>
			</item>

			<separator />
			<item label="Email hacked check (haveibeenpwned.com)">
				<action name="Execute"><execute>x-www-browser https://haveibeenpwned.com/</execute></action>
			</item>
			<item label="Reverse image search (tineye.com)">
				<action name="Execute"><execute>x-www-browser https://tineye.com/</execute></action>
			</item>
			<item label="Online virus checker (virustotal.com)">
				<action name="Execute"><execute>x-www-browser https://www.virustotal.com/gui/home/upload</execute></action>
			</item>
			<item label="Online virus checker (jotti.org)">
				<action name="Execute"><execute>x-www-browser https://virusscan.jotti.org/en</execute></action>
			</item>
			<item label="Pc hardware compatability (pcpartpicker.com)">
				<action name="Execute"><execute>x-www-browser https://uk.pcpartpicker.com/list/</execute></action>
			</item>
			<item label="Earth Temperature">
				<action name="Execute"><execute>x-www-browser https://earth.nullschool.net/#current/wind/surface/level/overlay=temp/orthographic=-342.11,30.84,601</execute></action>
			</item>
			<item label="Google trends (trends.google)">
				<action name="Execute"><execute>x-www-browser https://trends.google.co.in/trends/?geo=GB</execute></action>
			</item>
			<item label="Know your meme (knowyourmeme.com)">
				<action name="Execute"><execute>x-www-browser https://knowyourmeme.com/</execute></action>
			</item>

			<separator />
			<item label="Google fonts">
				<action name="Execute"><execute>x-www-browser https://fonts.google.com/</execute></action>
			</item>
			<item label="Image (unsplash.com)">
				<action name="Execute"><execute>x-www-browser https://unsplash.com/</execute></action>
			</item>
			<item label="Giphy (giphy.com)">
				<action name="Execute"><execute>x-www-browser https://giphy.com/</execute></action>
			</item>
			<item label="Icons (thenounproject.com)">
				<action name="Execute"><execute>x-www-browser https://thenounproject.com/</execute></action>
			</item>
			<item label="Character map (copychar.cc)">
				<action name="Execute"><execute>x-www-browser https://copychar.cc/popular/</execute></action>
			</item>
			<item label="Print friendly">
				<action name="Execute"><execute>x-www-browser https://www.printfriendly.com/</execute></action>
			</item>
			<item label="Cloud convert">
				<action name="Execute"><execute>x-www-browser https://cloudconvert.com/</execute></action>
			</item>
			<item label="Appimage hub (appimagehub.com)">
				<action name="Execute"><execute>x-www-browser https://www.appimagehub.com/</execute></action>
			</item>
			<item label="Portableapps (portableapps.com)">
				<action name="Execute"><execute>x-www-browser https://portableapps.com/</execute></action>
			</item>
			<item label="Apk mirror">
				<action name="Execute"><execute>x-www-browser https://www.apkmirror.com/apk/google-inc/google-play-store-android-wear/</execute></action>
			</item>
		</menu>


		<!-- System utilities-->
		<menu id="utils" label="Utilities" >
			<item label="Ranger">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -e ranger</execute></action>
			</item>
			<item label="Midnight Commander">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -e mc</execute></action>
			</item>
			<item label="Tree">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -hold -e tree ~/</execute></action>
			</item>
			<item label="Search">
				<action name="Execute"><execute>catfish</execute></action>
			</item>

			<separator />
			<item label="Clock">
				<action name="Execute"><execute>xclock -norender</execute></action>
			</item>
			<item label="Timezones">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -e timezone</execute></action>
			</item>
			<item label="Conky Time">
				<action name="Execute"><execute>conky -c ~/.conky/qclocktwo-master/qclocktwo</execute></action>
			</item>
			<item label="Calendar 3m">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -hold -e ncal -3</execute></action>
			</item>

			<separator />
			<item label="Conky">
				<action name="Execute"><execute>conky</execute></action>
			</item>
			<item label="stacer">
				<action name="Execute"><execute>stacer</execute></action>
			</item>
			<item label="Weather">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -e weather</execute></action>
			</item>
			<item label="xcalc">
				<action name="Execute"><execute>xcalc</execute></action>
			</item>
			<item label="Xarchiver">
				<action name="Execute"><execute>xarchiver</execute></action>
			</item>
			<item label="Transmission">
				<action name="Execute"><execute>transmission-gtk</execute></action>
			</item>
			<item label="Nitrogen">
				<action name="Execute"><execute>nitrogen</execute></action>
			</item>
			<item label="bleachbit">
				<action name="Execute"><execute>bleachbit</execute></action>
			</item>
			<item label="Flatseal-f">
				<action name="Execute"><execute>flatpak run com.github.tchx84.Flatseal</execute></action>
			</item>
			<item label="ProtonUp-Qt">
				<action name="Execute"><execute>flatpak run net.davidotek.pupgui2</execute></action>
			</item>

			<separator />
			<item label="St terminal">
				<action name="Execute"><execute>st</execute></action>
			</item>
			<item label="Alsamixer">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -e alsamixer</execute></action>
			</item>
			<item label="Printers (cups)">
				<action name="Execute"><execute>x-www-browser http://localhost:631</execute></action>
			</item>
			<item label="Firewall (gufw)">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -e sudo gufw</execute></action>
			</item>
			<item label="Virus Scanner">
				<action name="Execute"><execute>clamtk</execute></action>
			</item>
		</menu>


		<!-- System tools -->
		<menu id="system" label="System" >
			<item label="PC Info">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -geometry 100x30+0+0 -hold -e pcinfo</execute></action>
			</item>
			<item label="Memory usage">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -hold -e free -h</execute></action>
			</item>

			<separator />
			<item label="Network ports">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -hold -e ss -at</execute></action>
			</item>
			<item label="Network access">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -e sudo iftop</execute></action>
			</item>
			<item label="Network usage">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -e sudo nethogs</execute></action>
			</item>
			<item label="Nmap Scan network">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -hold -e sudo netscan</execute></action>
			</item>

			<separator />
			<item label="Hdd usage">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -e ncdu /</execute></action>
			</item>
			<item label="Mount diskspace">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -hold -e df -h</execute></action>
			</item>
			<item label="Hdd io">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -e sudo iotop</execute></action>
			</item>
			<item label="Open files">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -geometry 150x70+0+0 -hold -e lsof</execute></action>
			</item>
			<item label="Modified Files">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -geometry 150x70+0+0 -e files_modified_day</execute></action>
			</item>
			<item label="Accessed Files">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -geometry 150x70+0+0 -e files_accessed_day</execute></action>
			</item>

			<separator />
			<item label="Active partitions">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -hold -e lsblk</execute></action>
			</item>
			<item label="Mount points">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -hold -e findmnt</execute></action>
			</item>
			<item label="Gnome-disks">
				<action name="Execute"><execute>gnome-disks</execute></action>
			</item>
			<item label="Partition manager">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -e sudo cfdisk</execute></action>
			</item>

			<separator />
			<item label="Current users">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -hold -e w</execute></action>
			</item>
			<item label="System paths">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -hold -e 'echo $PATH'</execute></action>
			</item>
			<item label="Change resolution">
				<action name="Execute"><execute>arandr</execute></action>
			</item>
			<item label="List resolutions">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -hold -e xrandr</execute></action>
			</item>
			<item label="Power usage">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -geometry 100x50+0+0 -e sudo powertop</execute></action>
			</item>
			<item label="Temperature monitor">
				<action name="Execute"><execute>xsensors</execute></action>
			</item>

			<separator />
			<item label="System update">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -hold -e sudo apt_system_update</execute></action>
			</item>
			<item label="Flatpak update">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -hold -e sudo flatpak update</execute></action>
			</item>
			<item label="Installed apps">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -geometry 80x70+0+0 -e sudo list_manual_apps</execute></action>
			</item>
			<item label="Services">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -e sudo systemctl list-unit-files --type=service</execute></action>
			</item>
		</menu>


		<!-- File system locations -->
		<menu id="places" label="Places" >
			<item label="Current Home Folder">
				<action name="Execute"><execute>pcmanfm ~/</execute></action>
			</item>
			<item label="/home/ Users Folder">
				<action name="Execute"><execute>pcmanfm /home/</execute></action>
			</item>
			<item label="/etc/ System Folder">
				<action name="Execute"><execute>pcmanfm /etc/</execute></action>
			</item>
			<item label="/usr/local/bin/ Folder">
				<action name="Execute"><execute>pcmanfm /usr/local/bin/</execute></action>
			</item>
			<item label="/mnt/ Mounts Folder">
				<action name="Execute"><execute>pcmanfm /mnt/</execute></action>
			</item>
			<item label="/media/ Media Folder">
				<action name="Execute"><execute>pcmanfm /media/</execute></action>
			</item>
			<item label="NAS Public">
				<action name="Execute"><execute>pcmanfm smb://192.168.1.5/s_public/</execute></action>
			</item>
			<item label="NAS Private">
				<action name="Execute"><execute>pcmanfm smb://192.168.1.5/s_private/</execute></action>
			</item>
		</menu>


		<!-- Common config scripts-->
		<menu id="config" label="Config" >
			<item label="Edit Openbox Autostart">
				<action name="Execute"><execute>geany ~/.config/openbox/autostart</execute></action>
			</item>
			<item label="Edit Openbox Menu">
				<action name="Execute"><execute>geany ~/.config/openbox/menu.xml</execute></action>
			</item>
			<item label="Edit Openbox Keybindings">
				<action name="Execute"><execute>geany ~/.config/openbox/rc.xml</execute></action>
			</item>
			<item label="Edit Bashrc (bash config)">
				<action name="Execute"><execute>geany ~/.bashrc</execute></action>
			</item>
			<item label="Edit fstab (mount points)">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -e sudo nano /etc/fstab</execute></action>
			</item>
			<item label="Edit Apt Source (Packages)">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -e sudo nano /etc/apt/sources.list</execute></action>
			</item>
			<item label="Edit Sudoers (superusers)">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -e sudo nano /etc/sudoers</execute></action>
			</item>
			<item label="Edit hosts (network)">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -e sudo nano /etc/hosts</execute></action>
			</item>
			<item label="Edit Users">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -e sudo nano /etc/passwd</execute></action>
			</item>
			<item label="Edit Groups">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -e sudo nano /etc/group</execute></action>
			</item>
		</menu>


		<!-- Common log files-->
		<menu id="logs" label="logs" >
			<item label="System Log (static)">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -e sudo less +G /var/log/syslog</execute></action>
			</item>
			<item label="System Log (follow)">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -e sudo tail -f /var/log/syslog</execute></action>
			</item>
			<item label="Authorisations Log">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -e sudo less +G /var/log/auth.log</execute></action>
			</item>
			<item label="Kernel Log">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -e sudo less +G /var/log/kern.log</execute></action>
			</item>
			<item label="Drivers Log">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -hold -e sudo dmesg</execute></action>
			</item>
			<item label="Apt Changes Log">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -e sudo less +G /var/log/apt/history.log</execute></action>
			</item>
			<item label="Firewall Log (ufw)">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -e sudo less +G /var/log/ufw.log</execute></action>
			</item>
			<item label="Daemon / Services Log">
				<action name="Execute"><execute>uxterm -fa default -fs 12 -e sudo less +G /var/log/daemon.log</execute></action>
			</item>
		</menu>

		<!-- This requires the presence of the 'obamenu' package to work
		<menu id="/Debian" />

		<separator />
		<menu id="applications-menu" label="Applications" execute="/usr/bin/obamenu"/> -->


		<!-- Openbox config -->
		<separator />
		<menu id="obox" label="Openbox" >
			<item label="ObConf">
				<action name="Execute"><execute>obconf</execute></action>
			</item>
			<item label="Wallpaper (nitrogen)">
				<action name="Execute"><execute>nitrogen --restore</execute></action>
			</item>
			<item label="Taskbar">
				<action name="Execute"><execute>tint2</execute></action>
			</item>
			<item label="Launcher">
				<action name="Execute"><execute>plank</execute></action>
			</item>
			<item label="Clipboard">
				<action name="Execute"><execute>parcellite</execute></action>
			</item>
			<item label="Reconfigure">
				<action name="Reconfigure" />
			</item>
			<item label="Restart">
				<action name="Restart" />
			</item>
		</menu>


		<!-- OS controlls -->
		<separator />
		<item label="Lock">
			<action name="Execute"><execute>slock</execute></action>
		</item>
		<item label="Exit">
			<action name="Exit" />
		</item>
		<item label="Reboot">
			<action name="Execute">
				<prompt>Are you sure you want to reboot?</prompt>
				<execute>sudo shutdown -r now</execute>
			</action>
		</item>
		<item label="Shutdown">
			<action name="Execute">
			<prompt>Are you sure you want to shutdown?</prompt>
				<execute>sudo shutdown -h now</execute>
			</action>
		</item>

	</menu>

</openbox_menu>
